---
layout: zakladni
---
    
	<div class="layout__telo">
<h1 class="hlavni-nadpis">Všechny</h1>

<ul class="seznam">
	{% for film in filmy %}
		<li class="seznam_polozka"><a href="/film/{{ film.nazev | slug }}">{{ film.nazev }}</a></li>
	{% endfor %}
</ul>
 </div>
