---
layout: zakladni
---
<div class="layout__telo">
<main>
<h2 class="puvod_nadpis">Původ dat</h2>
<p class="puvod_text">Data byla převzata z webu <a href="https://www.csfd.cz/">www.csfd.cz</a> za účelem využití jako zkušební obsah pro výuku práce s nástrojem <a href="https://www.11ty.dev/">Eleventy</a>. Smyslem fiktivního webu FILMY.cz není konkurovat podobným filmovým databázím včetně csfd.cz.</p>
</main>
</div>